<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}CBIR: ZilongHyper{% endblock %}</title>
    <link rel="icon" type="image/png" href="static/logo.png">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
      crossorigin="anonymous"
    >
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    >
</head>
<body>

  <div class="container mt-3">
    <nav class="shadow py-30 bg-white rounded navbar navbar-expand-lg navbar-light bg-light sticky-top">
      <div class="container px-0">
        <div class="mr-10" style="width:60px">
          <img src="/static/logo.png"  href="{{ url_for('page_home.home') }}" style="width:40px">
        </div>
        <a class="navbar-brand mr-0" href="{{ url_for('page_home.home') }}">ZilongHyper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto d-flex align-items-center">
            <a class="nav-item nav-link" href="{{ url_for('page_home.home') }}" {% if request.path == "/" %} style="font-weight: bold"{% endif %} >Home</a>
            <a class="nav-item nav-link" href="{{ url_for('page_userinput.home') }}" {% if request.path == "/userinput" %} style="font-weight: bold"{% endif %} >User Input</a>
            <a class="nav-item nav-link" href="{{ url_for('page_camerainput.home') }}" {% if request.path == "/camerainput" %} style="font-weight: bold"{% endif %} >Camera Input</a>
            <a class="nav-item nav-link" href="{{ url_for('page_webscraping.home') }}" {% if request.path == "/webscraping" %} style="font-weight: bold"{% endif %} >Web Scraping</a>
            <a class="nav-item nav-link" href="{{ url_for('page_aboutus.home') }}" {% if request.path == "/aboutus" %} style="font-weight: bold"{% endif %} >About Us</a>
          </div>
        </div>
      </div>
    </nav>

    <h1 class="text-center pt-3 mt-2" style="font-weight: bold">Content Based Information Retrieval</h1>
    
    {% block content %}{% endblock %}

  </div>

    <script>
      window.addEventListener('load', function() {
        window.scrollTo(0, scroll_position);
      });
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script 
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
      crossorigin="anonymous">
    </script>
    <script 
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
      crossorigin="anonymous">
    </script>
    <script 
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
      crossorigin="anonymous">
    </script>

</body>
</html>
