{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Tugas Besar Algeo</h1>
    <div class="rounded border p-3 mt-4">
        <div class="row">
            <div class="col-md-6">
                {% if selected_image %}
                    <img src="{{ url_for('static', filename='submitted_picture/' + selected_image) }}" alt="Selected Image" class="img-fluid">
                {% else %}
                    <img src="" alt="Selected Image" class="img-fluid">
                {% endif %}
            </div>
            <div class="col-md-6">
                <form method="post" enctype="multipart/form-data" action="{{ url_for('views.upload_image') }}">
                    <div class="form-group">
                        <label for="imageInput">Select Image:</label>
                        <input type="file" class="form-control-file" id="imageInput" name="image" accept="image/*" required>
                    </div>
                    <div class="d-flex">
                        <button type="submit" class="btn btn-success mr-2">Submit</button>
                        {% if selected_image %}
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
                        {% endif %}
                    </div>
                </form>
                {% if selected_image %}
                    <div > Select Methods: </div>
                    <div class="mt-2">
                        <form method="post" action="{{ url_for('views.cbir_color') }}" class="d-inline">
                            <button type="submit" class="btn btn-primary">CBIR Color</button>
                        </form>
                        <form method="post" action="{{ url_for('views.cbir_texture') }}" class="d-inline ml-2">
                            <button type="submit" class="btn btn-primary">CBIR Texture</button>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the image?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form method="post" action="{{ url_for('views.delete_image') }}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
