{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
    <h1 class="text-center">Content Based Information Retrieval</h1>
    <div class="rounded border p-3 mt-4">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                {% if selected_image %}
                    <img src="{{ url_for('static', filename='submitted_picture/' + selected_image) }}" alt="{{ selected_image }}" class="img-fluid">
                {% endif %}
            </div>

            <div class="col-md-6">
                <div>
                    <form method="post" enctype="multipart/form-data" action="{{ url_for('views.upload_image') }}">
                        <div class="form-group">
                            <label for="imageInput">Select Image:</label>
                            <input type="file" class="form-control-file" id="imageInput" name="image" accept="image/*" required>
                        </div>
                        <div class="mt-2">
                            <button type="submit" class="btn btn-success mr-1">Submit</button>
                        </div>
                    </form>

                    <!-- Button to delete image -->
                    {% if selected_image %}
                    <form method="post" action="{{ url_for('views.delete_image') }}">
                        <div class="mt-2">
                            <button type="submit" class="btn btn-danger">Delete Image</button>
                        </div>
                    </form>
                    {% endif %}
                </div>

                <div class="mt-4">
                    <form method="post" enctype="multipart/form-data" action="{{ url_for('views.upload_database_images') }}">
                        <div class="form-group">
                            <label for="databaseInput">Input dataset:</label>
                            <input type="file" class="form-control-file" id="databaseInput" name="images[]" accept="image/*" multiple required>
                        </div>
                        <div class="mt-2">
                            <button type="submit" class="btn btn-success mr-2">Upload dataset</button>
                        </div>
                    </form>

                    <!-- Button to delete all images from the dataset -->
                    {% if len_dataset %}
                    <form method="post" action="{{ url_for('views.delete_all_dataset_images') }}">
                        <div class="mt-2">
                            <button type="submit" class="btn btn-danger">Delete All</button>
                        </div>
                    </form>
                    {% endif %}
                </div>

                <div class="mt-2">
                    Number of images in the dataset: {{ len_dataset }}
                </div>

                <div class="mt-4">
                    {% if selected_image and len_dataset %}
                        <div class="mt-2">
                            Select Methods:
                        </div>
                        <div class="mt-2">
                            <form method="post" action="{{ url_for('views.cbir_color') }}" class="d-inline mr-1">
                                <button type="submit" class="btn btn-primary">CBIR Color</button>
                            </form>
                            <form method="post" action="{{ url_for('views.cbir_texture') }}" class="d-inline">
                                <button type="submit" class="btn btn-primary">CBIR Texture</button>
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="rounded border p-3 mt-4">
        {% if result_images %}
            <div class="row">
                <div class="col-6">
                    <p class="mb-4">CBIR Results</p>
                </div>
                <div class="col-6 text-right">
                    <p>Runtime {{runtime}}</p>
                </div>
            </div>
            
            <div class="row row-cols-1 row-cols-md-3">
                {% for image in result_images %}
                    <div class="col mb-4">
                        <img src="{{ url_for('static', filename='result_picture/' + image) }}" alt="{{ image }}" class="img-fluid rounded">
                    </div>
                {% endfor %}
            </div>

            <!-- Pagination -->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% for page_num in range(1, total_pages + 1) %}
                        <li class="page-item {% if page_num == current_page %}active{% endif %}">
                            <a class="page-link" href="{{ url_for('views.home', page=page_num) }}">{{ page_num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        {% else %}
            <p>No results available.</p>
        {% endif %}
    </div>

</div>

{% endblock %}
