{% extends "base.html" %}
{% block content %}

<p class="d-flex justify-content-center font-weight-bold mt-4" style="font-size: 50px">Meet Our Team</p>

<div class="d-flex justify-content-around">

    <div class="border shadow d-flex flex-column p-4" style="border-radius:20px">
        <div class="mb-4">
            <img src="static/assets/andi.png" class="rounded">
        </div>
        <div class="mb-0">
            <p class="text-center font-weight-bold mb-0">
                Andi Marihot Sitorus
            </p>
        </div>
        <div class="mb-0">
            <p class="text-center">
                CBIR Texture Programmer
            </p>
        </div>
    </div>

    <div class="border shadow d-flex flex-column p-4" style="border-radius:20px">
        <div class="mb-4">
            <img src="static/assets/maul.png" class="rounded">
        </div>
        <div class="mb-0">
            <p class="text-center font-weight-bold mb-0">
                Maulana Muhamad Susetyo
            </p>
        </div>
        <div class="mb-0">
            <p class="text-center">
                CBIR Color Programmer
            </p>
        </div>
    </div>

    <div class="border shadow d-flex flex-column p-4" style="border-radius:20px">
        <div class="mb-4">
            <img src="static/assets/rafi.png" class="rounded">
        </div>
        <div class="mb-0">
            <p class="text-center font-weight-bold mb-0">
                Ahmad Rafi Maliki
            </p>
        </div>
        <div class="mb-0">
            <p class="text-center mb-0">
                Web Developer
            </p>
        </div>
        <div class="mb-0">
            <p class="text-center">
                Web Scraping Programmer
            </p>
        </div>
    </div>
</div>



{% endblock %}