{% extends "base.html" %}
{% block content %}


<div class="text-justify">
    Content-Based Image Retrieval (CBIR) is a process used to search and retrieve images based on their content. This process starts with the 
    extraction of important features from the image, such as color, texture, and shape. Once the features are extracted, they are represented 
    as vectors or numerical descriptions that can be compared with other images. Then, CBIR uses a matching algorithm to compare the features 
    vectors of the searched image with the features vectors of the images in the dataset. The result of this matching is used to sort the images 
    in the dataset and display the images that are most similar to the searched image. The CBIR process helps users to access and explore the 
    image collection in a more efficient way, as it does not require searching by text or keywords, but rather by the similarity of visual image 
    values between the images.

</div>

<h5 style="margin-top:30px">
    CBIR with color parameters
</h5>  


<div class="text-justify">
    In this CBIR, the input of an image will be compared with the image owned by the dataset, this is done by converting the RGB image into a 
    more general color histogram method. The color histogram is the frequency of various colors in a certain color space, this is done to distribute 
    the color of the image. The color histogram cannot detect a specific object contained in the image and cannot describe the position of the 
    distributed colors. The formation of color space needs to be done in order to divide the image value into several smaller ranges. This is done 
    to create a color histogram where each interval of each range is considered a bin. The color histogram can be calculated by counting the pixels 
    that express the color values at each interval. Color features include global color histogram and block color histogram.

</div>

<h5 style="margin-top:30px">
    CBIR with texture parameters
</h5>

<div class="text-justify">
    CBIR with texture parameters involves comparing images based on their texture, using a co-occurrence matrix. This matrix facilitates processing 
    and produces vectors of smaller size. The process involves a mathematical formula involving image intensity and offset parameters. Values such 
    as θ (0°, 45°, 90°, 135°) are used to describe direction and distance. After obtaining the co-occurrence matrix, the next step is to create a 
    symmetric matrix and seek matrix normalization.
</div>

<div class="d-flex justify-content-center mt-4">
    <a href="{{ url_for('page_userinput.home') }}" class="btn btn-success text-white" 
    style="border-radius:30px; border-color:rgb(211, 211, 211); width: 500px; font-size:30px; color:rgb(76, 76, 76); font-weight: bold">
        START SEARCHING
    </a>
</div>
{% endblock %}